/* ==========================
   Advanced Loading Animation
========================== */


#loader{

position:fixed;

inset:0;

background:#09090b;

display:flex;

align-items:center;

justify-content:center;

z-index:99999;

transition:1s;

}


.loader-text{

font-family:monospace;

font-size:24px;

color:#a78bfa;

}


.loader-text::after{

content:"";

animation:dots 1.5s infinite;

}



@keyframes dots{


0%{

content:"";

}


33%{

content:".";

}


66%{

content:"..";

}


100%{

content:"...";

}


}







/* ==========================
 Terminal Animation
========================== */


.terminal{

position:relative;

overflow:hidden;

}



.terminal::before{

content:"";

position:absolute;

top:0;

left:0;

right:0;

height:3px;

background:linear-gradient(
90deg,
#7c3aed,
#a78bfa
);

animation:scan 3s infinite;

}



@keyframes scan{


0%{

transform:translateX(-100%);

}


100%{

transform:translateX(100%);

}


}







.terminal p{

opacity:0;

animation:

terminalShow .5s forwards;

}



.terminal p:nth-child(1){

animation-delay:.5s;

}



.terminal p:nth-child(2){

animation-delay:1s;

}



.terminal p:nth-child(3){

animation-delay:1.5s;

}



.terminal p:nth-child(4){

animation-delay:2s;

}



.terminal p:nth-child(5){

animation-delay:2.5s;

}




@keyframes terminalShow{


to{

opacity:1;

transform:translateX(0);

}


from{

opacity:0;

transform:translateX(-20px);

}


}








/* ==========================
 Typing Cursor
========================== */


.terminal p:last-child::after{


content:"_";


animation:blink 1s infinite;


}



@keyframes blink{


50%{

opacity:0;

}


}







/* ==========================
 Neon Hover
========================== */


.card:hover,
.repo:hover,
.level-box:hover{


box-shadow:

0 0 40px rgba(124,58,237,.45);


}







/* ==========================
 Section Smooth Reveal
========================== */


.reveal{


filter:blur(5px);


}



.reveal.active{


filter:blur(0);


}
