*{

box-sizing:border-box;

}


body{


margin:0;


background:white;


color:#111827;


font-family:"Inter",Arial,sans-serif;


}



header,
section{


max-width:1000px;


margin:auto;


padding:70px 20px;


text-align:center;


}





.profile{


width:180px;


height:180px;


border-radius:50%;


object-fit:cover;


border:5px solid #7c3aed;


}





h1{


font-size:55px;


font-weight:800;


color:#7c3aed;


}



h2{


font-size:32px;


font-weight:700;


color:#7c3aed;


}




header p{


font-size:20px;


color:#7c3aed;


font-weight:600;


}





.button{


display:inline-block;


margin-top:25px;


padding:14px 35px;


background:#7c3aed;


color:white;


border-radius:30px;


text-decoration:none;


font-weight:700;


}



.button:hover{


background:#6d28d9;


}





.section-title{


margin-bottom:30px;


}





.card{


background:#6d28d9;


color:white;


padding:35px;


border-radius:25px;


font-size:17px;


line-height:1.8;


box-shadow:

0 15px 35px rgba(109,40,217,.25);


}




.skills{


display:flex;


justify-content:center;


gap:15px;


flex-wrap:wrap;


margin:25px 0;


}




.skills span{


background:#8b5cf6;


padding:10px 20px;


border-radius:20px;


color:white;


}





.activity-box{


background:#f5f3ff;


padding:30px;


border-radius:25px;


}



.activity{


width:100%;


}





.legend{


display:flex;


justify-content:center;


align-items:center;


gap:10px;


margin-top:20px;


}



.level{


width:18px;


height:18px;


border-radius:4px;


}



.one{

background:#ede9fe;

}



.two{

background:#c4b5fd;

}



.three{

background:#8b5cf6;

}



.four{

background:#5b21b6;

}






#projects{


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(260px,1fr));


gap:20px;


}




.repo{


background:#6d28d9;


color:white;


padding:25px;


border-radius:25px;


}



.repo a{


color:#ddd6fe;


}





footer{


text-align:center;


padding:40px;


color:#7c3aed;


}
